{% extends('layout.html.twig') %}
{% form_theme form 'global/form_template.html.twig'%}
{% block body %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}


    {# Les erreurs générales du formulaire. #}

    {{ form_errors(form) }}
    {{ form_end(form) }}
{% endblock %}