{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <div id="welcome">
            <h1>Vous avez dit "Classique" ?</h1>
        </div>

        <div id="status">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci, beatae blanditiis
                deserunt dolore dolorem ducimus exercitationem facere hic illo illum nihil nobis non odit perspiciatis
                placeat rerum sed totam.
            </p>
        </div>

        <div id="next">
            <h2>What's next?</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto consequuntur delectus dolore
                dolorem eaque est, et exercitationem expedita facilis nostrum perspiciatis quasi, ratione rem sint,
                soluta tempore vero voluptate.
            </p>
        </div>

    </div>
{% endblock %}
