/** Main style of the site **/

/** Font declaration **/
@font-face {
    font-family: 'exo-Black';
    src: url('../fonts/Exo-Black.otf') format('truetype');
}

@font-face {
    font-family: 'neuropole';
    src : url("../fonts/neuropol.ttf");
}

/** General **/
* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em; /** 4em corresponding to the height of the footer **/
}

footer, .push {
    height: 4em;
    clear: both;
}

::selection {
    background-color: #E13300;
    color: white;
}

::-moz-selection {
    background-color: #E13300;
    color: white;
}

body {
    background-color: #fff;
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
    text-decoration: none;
}

h1, h2, h3, h4 , nav{
    color: #444;
    font-family: 'neuropole';
    background-color: transparent;
    border-bottom: 1px solid #c0c0c0;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

footer p {
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #c0c0c0;
}

nav {
    text-align: center;
}