{% macro album(albumData) %}
    <div class="fiche-album row">
        <ul class="fiche-album__list columns six">
            <li class="fiche-album__element">
                Titre : {{ albumData.titreAlbum }}
            </li>
            <li class="fiche-album__element">
                Année : {{ albumData.anneeAlbum }}
            </li>
            <li class="fiche-album__element">
                Genre : {{ albumData.codeGenre.libelleAbrege }}
            </li>
            <li class="fiche-album__element">
                Editeur : {{ albumData.codeEditeur.nomEditeur }}
            </li>
        </ul>
        <img class="columns three" src="{{ path('photo', {'id': albumData.id, 'type': 'Album'}) }}" alt="{{ albumData.titreAlbum }}" class="fiche-album__pochette">
    </div>
{% endmacro %}