{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="nine columns">
            {% block content %}
            {% endblock %}
            </div>
            {% block left_menu_discotheque %}
            <div class="three columns">
                {% include ':discotheque:leftMenu.html.twig' %}
            </div>
                {% endblock %}
        </div>
    </div>
{% endblock %}