{% block left_menu_store %}
    <ul class="left_menu">
        <li>Artistes</li>
        <li>Compositeurs</li>
        <li><a href="{{ path('listAlbums', {'index':1}) }}">Albums</a></li>
        <li>Instruments</li>
        <li>Pays</li>
    </ul>
{% endblock %}