{% extends ':discotheque:discothequeTpl.html.twig' %}
{% import "discotheque/album_macro.html.twig" as albums %}
{% block content %}
        {% if  listAlbums is not empty %}
            {% for album in listAlbums %}
                {{ albums.album(album) }}
            {% endfor %}
        {% else %}
            <p>Il n'y a aucun album de disponible.</p>
        {% endif %}
        {% include 'global/pagination.html.twig' %}
{% endblock %}



