{% extends('layout.html.twig') %}


{% block body %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}
    <div class="container">
        <form action="{{ path('login_check') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}"/>

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password"/>

            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}

            <button type="submit">login</button>
        </form>
    </div>
{% endblock %}
