{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <h2>Profil de " {{ user.username }}"</h2>
        <div class="row">
            <ul>
                <li>Nom : </li>
                <li>Prénom</li>
                <li>Mail</li>
                <li>Adress</li>
            </ul>
        </div>
    </div>

{% endblock %}