<header>
    <a href="{{ path('homepage') }}"><h1>Valkyries</h1></a>
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            Bonjour : {{ app.user.username }}
            <a href="{{ path('logout') }}">
                Déconnexion
            </a>
        {% else %}
            <a href="{{ path('login') }}">Connexion</a>
        {% endif %}
    </div>
</header>

