<nav>
    <ul>
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path('discothequepage') }}">Catalogue</a></li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li><a href="{{ path('useraccount') }}">Mon Compte</a></li>
        {%  endif %}
        <li><a href="{{ path('aboutpage') }}">A Propos</a></li>
    </ul>
</nav>
