{% if pagination.nbPages > 0 %}
    <ul class="pagination">
        {% if pagination.index > 1 %}
            <li class="pagination__cursor">
                <a href="{{ path(pagination.route, pagination.paramsRoute|merge({'index': 1})) }}">
                    <<
                </a>
            </li>
            <li class="pagination__cursor">
                <a href="{{ path(pagination.route,pagination.paramsRoute|merge({'index': pagination.index-1})) }}">
                    <
                </a>
            </li>
        {% endif %}

        {# Affichage de toutes les pages entre p-4 et p+4 sauf si < 1 ou > nbPages #}
        {% for p in range(max(pagination.index-4, 1), min(pagination.index+4, pagination.nbPages)) %}
            <li {% if p == pagination.index %}class="pagination__element--active"{% endif %}>
                <a href="{{ path(pagination.route, pagination.paramsRoute|merge({'index': p})) }}">
                    {{ p }}
                </a>
            </li>
        {% endfor %}

        {% if pagination.index < pagination.nbPages %}
            <li class="pagination__cursor">
                <a href="{{ path(pagination.route, pagination.paramsRoute|merge({'index': pagination.index+1})) }}">
                    >
                </a>
            </li>
            <li class="pagination__cursor">
                <a href="{{ path(pagination.route,pagination.paramsRoute|merge({'index': pagination.nbPages})) }}">
                    >>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}

