{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <h2>Réalisation d'une boutique en ligne</h2>
        <p class="row">
            Notre binôme est formé par
        <ul>
            <li>Maxime Le Conte Des Floris</li>
            <li>Loïc Larousserie</li>
        </ul>
        </p>
    </div>
{% endblock %}

